/* --- Basic Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
}

header {
  background-color: #047857;
  color: #ffffff;
  height: 80px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 5%;

  position: sticky;
  top: 0;
  z-index: 50;
}

header a {
  text-decoration: none;
  color: inherit;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  transition: opacity 0.2s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
  transform: translateY(1px); 
}

.logo-link span {
  font-size: 1.25rem;
  font-weight: 500;
}

.add-button {
  background-color: #ffffff;
  color: #047857;
  border: none;
  border-radius: 9999px;

  padding: 0.75px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

  transition: background-color 0.2s ease, transform 0.1 ease, box-shadow 0.2s ease;
}

.add-button:hover {
  background-color: #ecfdf5;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.add-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #1e293b;
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;

  padding: 1.5rem 1rem;
}

/* --- Form Page Styles --- */

.form-page-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 1rem;
}

.form-page-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1e291b;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 2rem 2.25rem;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(43, 45, 66, 0.1);
  border: 1px solid #e8eaed;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 48%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #2b2d42;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d4d8de;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  font-family: inherit;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #2b2d42;
  box-shadow: 0 0 0 3px rgba(43, 45, 66, 0.2);
  outline: none;
}

.form-group textarea {
  resize: vertical;
}

.stars {
  width: 60%;
}

.long {
  width: 100%;
  height: auto;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #2b2d42;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* --- Dashbord --- */

.book-list-container {
  padding: 2rem 1rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.book-card {
  flex-grow: 1;
  flex-basis: 350px;
  max-width: 350px;


  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 0.625rem;
  border: 1px solid #e0e0e0;

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) 0 4px 6px -4px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
  animation: fadeInUp 0.8s ease-out forwards;

  color: inherit;
  text-decoration: none;
  display: block;
}

.book-card:hover {
  box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.book-card img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
  border-radius: 0.375rem;
  margin-bottom: 0.75rem;
}

.book-card h3 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding: 0 0.5rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  display: flex;
  gap: 0.125rem;
  color: #fbbf24;
  font-size: 1.5rem;
  padding: 0 0.5rem 0.75rem;
  -webkit-text-stroke: 1px #f59e0b;
}

.star-empty {
  color: white;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Book Details Page Styles --- */

.book-details-container {
  max-width: 90%;
  margin: 3rem 2rem;
  padding: 2rem 4rem;

  background-color: #f4f5f6;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.book-details-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;

  background-color: #f8f8fa;
}

.book-details-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1.5rem;

  min-width: 40%;
  max-width: 55%;
}

.book-details-info h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: #333;
}

.book-details-info p {
  color: #4b5563;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.book-details-info .rating {
  padding-inline: 0;
}

.book-cover {
  max-width: 40%;
  border-radius: 12px;
}

.back-link {
  display: inline-block;
  margin-bottom: 1.5rem;
  color: #047857;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #064e3b;
}

@media (max-width: 540px) {
  .form-group {
    width: 100%;
  }

  .book-list-container, .book-details-container {
    padding: 1.5rem 1rem;
    margin: 1rem auto;
  }

  .book-cover, .book-details-info {
    max-width: 100%;
  }
}